<div class="panel panel-primary">
    <div class="panel-heading m-3">
        <h2>Register Pharmacy</h2>
    </div>
</div>
<div class="container mb-3">
    <div class="mb-3">
        <label for="baseUrl" class="form-label">Base URL</label>
        <input [(ngModel)]="baseUrl" type="text" class="form-control" id="baseUrl" placeholder="Base url" required>
    </div>
    <button (click)="registerPharmacy()" class="btn btn-primary" id="submitButton">
          <strong>Register</strong>
      </button>
</div>