<div class="d-flex justify-content-center">
  <h6 class="text-muted subtitle">Step 3: Choose moving details</h6>
</div>
<div class="row ms-5 mt-5"></div>
<div class="row mb-5 mt-3 d-flex justify-content-center" style="height: 300px">
  <div class="col-11">
    <div
      style="height: 280px; overflow: auto"
      class="d-flex justify-content-center movingFormDiv"
    >
      <table class="table-responsive movingForm mt-5">
        <tr>
          <td class="label">
            Quantity of equipment: <span style="color: red">*</span>
          </td>
          <td>
            <input
              class="form-control text-start"
              type="number"
              name="quantity"
            />
          </td>
        </tr>
        <tr>
          <td class="label">
            Move duration: <span style="color: red">*</span>
          </td>
          <td>
            <input
              class="form-control text-start"
              type="number"
              name="duration"
            />
          </td>
        </tr>
        <tr>
          <td class="label">
            Move interval: <span style="color: red">*</span>
          </td>
          <td>
            <div class="d-inline-flex">
              <input
                style="width: 150px"
                type="number"
                class="form-control me-2"
              />
              <span>-</span>
              <input
                style="width: 150px"
                type="number"
                class="form-control ms-2"
              />
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
