<h1 mat-dialog-title>{{ eventType }} details</h1>

<div
  mat-dialog-content
  class="modal-body justify-content-center align-items-center"
>
  <p>
    START:
    <b> {{ startDate | date: "dd.MM.yyyy HH:mm" }}</b
    ><br />
    END:
    <b>{{ endDate | date: "dd.MM.yyyy HH:mm" }}</b
    ><br />
    ROOM:
    <b>{{ roomName }} , {{ buildingName }}</b>
    <br />
    PATIENT:
    <b>{{ patientFirstName }} {{ patientLastName }}</b>
    <br />
    DOCTOR:
    <b>{{ doctorFirstName }} {{ doctorLastName }}</b>
  </p>
</div>
<div
  mat-dialog-actions
  class="justify-content-center align-items-center"
  style="border-top: 0 none"
>
  <button mat-raised-button color="accent" data-bs-dismiss="modal">OK</button>
</div>
