<div class="row">
  <div class="col-md-4">
    <div class="row ms-5 mt-3">
        <h4 class="mt-3 mb-5 title" style="text-align: center;">B U I L D I N G<span class="ms-4">1</span></h4>
    </div> 
    <app-floor-selection (floorSelection)="selectedFloor=$event; selectedRoom.name = ''" [floorForDisplay]="changeFloor" [displayFloor]="floor"></app-floor-selection>
    
    <div class="row" *ngIf="selectedRoom.name != ''">
      <div class="col-9 mt-5" style="margin-left: 5.5rem;">
            <app-room-info [room]="selectedRoom"></app-room-info>
        </div>
    </div>
  </div>
  <div class="col-md-5 mt-1">
    <div  *ngIf="selectedFloor=='first'">
      <app-first-floor (selectedRoom)="roomSelectionChanged($event)" [roomForDisplay]="roomForDisplay"></app-first-floor>
    </div>
    <div *ngIf="selectedFloor=='second'">
      <app-second-floor (selectedRoom)="roomSelectionChanged($event)" [roomForDisplay]="roomForDisplay"></app-second-floor>
    </div>
  </div>
  <div class="col-md-3 mt-1">
    <app-search-bar (displayEvent)="displayRoom($event)"></app-search-bar>
  </div>
</div>
