th {
    background-color: #90caf9;
    color: white;
} 

.table {
    margin: auto;
    width: 80% !important; 
 }

 button{
    background-color: #90caf9;
    border: none;
  }
  
  button:focus{background-color:#90caf9;}
  button:hover{background-color:#90caf9;}