<svg  height="650" width="600" style="border:1px solid rgb(14, 13, 13); margin-left:auto; margin-right:auto; display:block;">

    <!-- MAIN DOOR -->
    <polygon points="265,0 335,0 335,6 265,6" attr.fill={{doorColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}} />

    <!-- ROOMS AND DOORS -->
    <polygon  points="0,0 130,0 130,200 0,200" attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
    <text  x="65" y="100" text-anchor="middle">Room 1</text>
    <polygon points="126,75 130,75 130,125 126,125"  attr.fill={{doorColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>

    <polygon  points="0,204 130,204 130,354 0,354" attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
    <text  x="65" y="279" text-anchor="middle">Room 2</text>
    <polygon points="126,254 130,254 130,304 126,304"  attr.fill={{doorColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>

    <polygon  points="0,358 130,358 130,520 0,520" attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
    <text  x="65" y="439" text-anchor="middle">Room 3</text>
    <polygon points="126,414 130,414 130,464 126,464"  attr.fill={{doorColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>

    <polygon  points="0,524 210,524 210,650 0,650" attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
    <text  x="105" y="587" text-anchor="middle">Room 4</text>
    <polygon points="145,524 195,524 195,528 145,528"  attr.fill={{doorColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>

    <polygon  points="228,560 298,560 298,650 228,650" attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
    <text  x="263" y="605" text-anchor="middle">WC</text>
    <polygon points="238,560 288,560 288,564 238,564"  attr.fill={{doorColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>

    <polygon  points="302,560 372,560 372,650 302,650" attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
    <text  x="337" y="605" text-anchor="middle">WC</text>
    <polygon points="312,560 362,560 362,564 312,564"  attr.fill={{doorColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>

    <polygon  points="390,524 600,524 600,650 390,650" attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
    <text  x="495" y="587" text-anchor="middle">Room 5</text>
    <polygon points="405,524 455,524 455,528 405,528"  attr.fill={{doorColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>

    <polygon  points="470,0 600,0 600,200 470,200" attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
    <text  x="535" y="100" text-anchor="middle">Room 8</text>
    <polygon points="470,75 474,75 474,125 470,125"  attr.fill={{doorColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>

    <polygon  points="470,204 600,204 600,354 470,354" attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
    <text  x="535" y="279" text-anchor="middle">Room 7</text>
    <polygon points="470,254 474,254 474,304 470,304"  attr.fill={{doorColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>

    <polygon  points="470,358 600,358 600,520 470,520" attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
    <text  x="535" y="439" text-anchor="middle">Room 6</text>
    <polygon points="470,414 474,414 474,464 470,464"  attr.fill={{doorColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
    <!-- END OF ROOMS AND DOORS -->

    <!-- WAITING ROOM -->
    <polygon  points="210,130 390,130 390,440 210,440"  attr.fill={{roomColor}}/>

</svg>
