<div class="row" style="width: 90%; margin: auto;">
    <h4 class="mt-3 mb-5 title" style="text-align: center;">H O S P I T A L <span class="ms-4">O V E R V I E W</span>
    </h4>
    <div class="col-md-4">
        <div class="legend">
            <h4 class="mb-3" style="text-align: center;">Legend</h4>
            <svg width="20" height="20">
                <rect width="20" height="15" style="fill: rgb(252, 207, 207)" stroke-width="1" stroke="#222222" />
            </svg>
            <span class="ms-4">Hospital building 1</span>
            <br />
            <svg width="20" height="20">
                <rect width="20" height="15" style="fill: #90caf9" stroke-width="1" stroke="#222222" />
            </svg>
            <span class="ms-4">Hospital building 2</span>
            <br />
            <svg width="20" height="20">
                <rect width="20" height="15" style="fill: #e98a8a" stroke-width="1" stroke="#222222" />
            </svg>
            <span class="ms-4">Parking</span>
            <br />
            <svg width="20" height="20">
                <rect width="20" height="15" style="fill: #faf3dd" stroke-width="1" stroke="#222222" />
            </svg>
            <span class="ms-4">Staff Parking</span>
        </div>
    </div>
    <div class="col-md-8">
        <svg height="480" width="775" style="background-color:#a4c3b2">
            <g class="currentLayer">
                <rect fill="#dadada" stroke-width="2" stroke-linejoin="round" x="477" y="271" width="1" height="4"
                    fill-opacity="1" />
                <rect fill="#dadada" stroke-width="2" stroke-linejoin="round" x="124" y="-0.095" width="44"
                    height="480" />
                <rect fill="#dadada" stroke-width="2" stroke-linejoin="round" x="0" y="90" width="125" height="480" />
                <rect fill="#dadada" stroke-width="2" stroke-linejoin="round" x="0" y="64" width="777" height="34" />
                <rect fill="#dadada" stroke-width="2" stroke-linejoin="round" x="608" y="92" width="45" height="26" />
                <rect fill="#dadada" stroke-width="2" stroke-linejoin="round" x="167" y="354" width="42" height="36" />

                <rect fill="#fccfcf" stroke="#222222" stroke-width="2" stroke-linejoin="round" x="210" y="307"
                    width="283" height="131" />
                <text x="350" y="375" text-anchor="middle" fill="black" font-size="14" font-weight="bold">Building
                    1</text>

                <rect fill="#90caf9" stroke="#222222" stroke-width="2" stroke-linejoin="round" x="520" y="119"
                    width="227" height="318" />
                <text x="635" y="275" text-anchor="middle" fill="black" font-size="14" font-weight="bold">Building
                    2</text>

                <rect fill="#dadada" stroke-width="2" stroke-linejoin="round" x="150" y="176" width="300" height="43" />

                <rect fill="#faf3dd" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="39.65" y="126.35"
                    height="35" width="51" />
                <text x="65" y="150" text-anchor="middle" fill="black" font-size="20" font-weight="bold"
                    transform="rotate(-90,65, 145)">P</text>
                <rect fill="#faf3dd" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="39.78" y="161"
                    height="35" width="51" />
                <text x="28" y="150" text-anchor="middle" fill="black" font-size="20" font-weight="bold"
                    transform="rotate(-90,65, 145)">P</text>
                <rect fill="#faf3dd" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="39.92" y="196.2"
                    height="35" width="51" />
                <text x="-5" y="150" text-anchor="middle" fill="black" font-size="20" font-weight="bold"
                    transform="rotate(-90,65, 145)">P</text>
                <rect fill="#faf3dd" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="39.89" y="231.3"
                    height="35" width="51" />
                <text x="-40" y="150" text-anchor="middle" fill="black" font-size="20" font-weight="bold"
                    transform="rotate(-90,65, 145)">P</text>
                <rect fill="#faf3dd" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="40" y="266.9"
                    height="35" width="51" />
                <text x="-77" y="150" text-anchor="middle" fill="black" font-size="20" font-weight="bold"
                    transform="rotate(-90,65, 145)">P</text>
                <rect fill="#faf3dd" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="40.2" y="302.13"
                    height="35" width="51" />
                <text x="-110" y="150" text-anchor="middle" fill="black" font-size="20" font-weight="bold"
                    transform="rotate(-90,65, 145)">P</text>
                <rect fill="#faf3dd" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="40.5" y="337.4"
                    height="35" width="51" />
                <text x="-148" y="150" text-anchor="middle" fill="black" font-size="20" font-weight="bold"
                    transform="rotate(-90,65, 145)">P</text>
                <rect fill="#faf3dd" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="40.5" y="373"
                    height="35" width="51" />
                <text x="-182" y="150" text-anchor="middle" fill="black" font-size="20" font-weight="bold"
                    transform="rotate(-90,65, 145)">P</text>

                <rect fill="#e98a8a" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="236.5" y="220.2"
                    width="35" height="51" />
                <text x="252" y="255" text-anchor="middle" fill="black" font-size="20" font-weight="bold">P</text>
                <rect fill="#e98a8a" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="272" y="220.2"
                    width="35" height="51" />
                <text x="289" y="255" text-anchor="middle" fill="black" font-size="20" font-weight="bold">P</text>
                <rect fill="#e98a8a" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="307.81" y="220.2"
                    width="35" height="51" />
                <text x="325" y="255" text-anchor="middle" fill="black" font-size="20" font-weight="bold">P</text>
                <rect fill="#e98a8a" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="343.45" y="220.2"
                    width="35" height="51" />
                <text x="360" y="255" text-anchor="middle" fill="black" font-size="20" font-weight="bold">P</text>
                <rect fill="#e98a8a" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="379" y="220.2"
                    width="35" height="51" />
                <text x="397" y="255" text-anchor="middle" fill="black" font-size="20" font-weight="bold">P</text>
                <rect fill="#e98a8a" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="414.7" y="220.2"
                    width="35" height="51" />
                <text x="432" y="255" text-anchor="middle" fill="black" font-size="20" font-weight="bold">P</text>


                <rect fill="#e98a8a" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="236.5" y="124"
                    width="35" height="51" />
                <text x="252" y="155" text-anchor="middle" fill="black" font-size="20" font-weight="bold">P</text>
                <rect fill="#e98a8a" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="272.045" y="124"
                    width="35" height="51" />
                <text x="289" y="155" text-anchor="middle" fill="black" font-size="20" font-weight="bold">P</text>
                <rect fill="#e98a8a" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="307.68" y="123.63"
                    width="35" height="51" />
                <text x="325" y="155" text-anchor="middle" fill="black" font-size="20" font-weight="bold">P</text>
                <rect fill="#e98a8a" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="343" y="123.72"
                    width="35" height="51" />
                <text x="360" y="155" text-anchor="middle" fill="black" font-size="20" font-weight="bold">P</text>
                <rect fill="#e98a8a" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="378.7" y="123.72"
                    width="35" height="51" />
                <text x="397" y="155" text-anchor="middle" fill="black" font-size="20" font-weight="bold">P</text>
                <rect fill="#e98a8a" stroke="#000000" stroke-width="2" stroke-linejoin="round" x="414.2" y="123.63"
                    width="35" height="51" />
                <text x="432" y="155" text-anchor="middle" fill="black" font-size="20" font-weight="bold">P</text>

                <path fill="#000000" stroke="#000000" stroke-opacity="1" stroke-width="6" stroke-linejoin="round"
                    stroke-linecap="butt" opacity="1"
                    d="M616.7789074825491,116.52630707960097 L644.67363696742,116.52630707960097 " />
                <path fill="#000000" fill-opacity="1" stroke="#000000" stroke-opacity="1" stroke-width="6"
                    stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" opacity="1"
                    d="M206.5333045589435,360.9696731790709 L206.5333045589435,380.36361145207087 " />
            </g>
        </svg>
    </div>
</div>