<div class="d-flex justify-content-center">
  <h6 class="text-muted subtitle">Step 2: Choose room to move to</h6>
</div>
<div class="row ms-5 mt-5">
  <div class="col-12">
    <input
      class="searchInput form-control"
      type="text"
      placeholder="search..."
    />
  </div>
</div>
<div class="row mb-5 mt-2 d-flex justify-content-center" style="height: 300px">
  <div class="col-11">
    <div style="height: 280px; overflow: auto">
      <table class="table table-hover equipmentTable">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Room</th>
            <th scope="col">Building</th>
            <th scope="col">Type</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td data-label="Room">AR-1</td>
            <td data-label="Building">Building 1</td>
            <td data-label="Type">Appointment Room</td>
            <td data-label="Quantity">5</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td data-label="Room">AR-2</td>
            <td data-label="Building">Building 1</td>
            <td data-label="Type">Appointment Room</td>
            <td data-label="Quantity">6</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td data-label="Room">AR-3</td>
            <td data-label="Building">Building 1</td>
            <td data-label="Type">Appointment Room</td>
            <td data-label="Quantity">10</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
