<div class="row mb-3 mt-1 d-flex justify-content-center">
  <div style="width: 80%; margin: auto">
    <h4 class="mb-4 title" style="text-align: center">
      R O O M <span class="ms-4">S C H E D U L E</span>
    </h4>
  </div>

  <div class="col-8">
    <div
      style="height: 515px; overflow: auto"
      id="table"
      class="table-responsive custom-table-responsive"
    >
      <table
        *ngIf="!isLoading"
        class="
          table table-hover
          justify-content-center
          equipmentTable equipmentTable
        "
      >
        <thead>
          <tr>
            <th class="col-md-4">Type</th>
            <th class="col-md-4">Start</th>
            <th class="col-md-4">End</th>
            <th class="col-md-4">Options</th>
            <!-- da li je potrebno neko dugme za detalje -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of equipmentTransferEvents">
            <td>Equipment Transfer</td>
            <td>{{ event.startDate | date: "dd.MM.yyyy HH:mm" }}</td>
            <td>{{ event.endDate | date: "dd.MM.yyyy HH:mm" }}</td>
            <td class="pt-1">
              <div class="buttonWrapper">
                <button
                  class="btn btn-danger cancelButton"
                  (click)="confirmTransferCancelDialog()"
                >
                  Cancel
                </button>
              </div>
            </td>
          </tr>
          <tr *ngFor="let event of renovationEvents">
            <td>Renovation</td>
            <td>{{ event.startDate | date: "dd.MM.yyyy HH:mm" }}</td>
            <td>{{ event.endDate | date: "dd.MM.yyyy HH:mm" }}</td>
            <td class="pt-1">
              <div class="buttonWrapper">
                <button
                  class="btn btn-danger cancelButton"
                  (click)="confirmRenovationCancelDialog()"
                >
                  Cancel
                </button>
              </div>
            </td>
          </tr>
          <tr *ngFor="let event of scheduledEvents">
            <td>{{ event.scheduledEventType }}</td>
            <td>{{ event.startDate | date: "dd.MM.yyyy HH:mm" }}</td>
            <td>{{ event.endDate | date: "dd.MM.yyyy HH:mm" }}</td>
            <td class="pt-1">
              <div class="buttonWrapper">
                <button
                  class="btn btn-secondary cancelButton"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  (click)="openDialog(event)"
                >
                  Details
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-card
        *ngIf="isLoading"
        style="display: flex; justify-content: center; align-items: center"
      >
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </mat-card>
    </div>
  </div>
</div>

<!-- <div class="modal" id="exampleModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: 0 none">
        <h1 mat-dialog-title>
          {{ selectedAppointment.scheduledEventType }} details
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div
        mat-dialog-content
        class="modal-body justify-content-center align-items-center"
      >
        <p>
          START:
          <b> {{ selectedAppointment.startDate | date: "dd.MM.yyyy HH:mm" }}</b
          ><br />
          END:
          <b>{{ selectedAppointment.endDate | date: "dd.MM.yyyy HH:mm" }}</b
          ><br />
          ROOM:
          <b
            >{{ selectedAppointment.room.name }} ,
            {{ selectedAppointment.room.buildingName }}</b
          >
          <br />
          PATIENT:
          <b
            >{{ selectedAppointment.patient.firstName }}
            {{ selectedAppointment.patient.lastName }}</b
          >
          <br />
          DOCTOR:
          <b
            >{{ selectedAppointment.doctor.firstName }}
            {{ selectedAppointment.doctor.lastName }}</b
          >
        </p>
      </div>
      <div
        mat-dialog-actions
        class="justify-content-center align-items-center modal-footer"
        style="border-top: 0 none"
      >
        <button mat-raised-button color="accent" data-bs-dismiss="modal">
          OK
        </button>
      </div>
    </div>
  </div>
</div> -->
