@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import '~ngx-toastr/toastr.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #0984e3;
}
