<div class="container mb-3">
    <div class="text-center">
        <img [src]="imageSrc" class="text-center mb-3" style="height: 200px; width:200px" alt="...">
    </div>
    <div class="media-body ml-4">
        <input type="file" (change)="onFileChange($event)" class="form-control">
    </div>
</div>
<div *ngIf="pharmacy" class="container mb-3">
  <div class="form-group mb-3">
    <label class="form-label">Pharmacy Name:</label>
    <input type="text" class="form-control mb-1" [(ngModel)]="pharmacy.name" id="name">
  </div>
  <div class="form-group mb-3">
    <label class="form-label">Street Number:</label>
    <input type="text" id="streetNumber" class="form-control"  [(ngModel)]="pharmacy.streetNumber">
  </div>
  <div class="form-group mb-3">
    <label class="form-label">Street Name:</label>
    <input type="text" id="streetName" class="form-control mb-1" [(ngModel)]="pharmacy.streetName">
  </div>
  <div class="form-group mb-3">
    <label class="form-label">City Name:</label>
    <input type="text" id="cityName" class="form-control" [(ngModel)]="pharmacy.city.name">
  </div>
    <div class="form-group mb-3">
      <label class="form-label">Postal Code:</label>
      <input type="text" id="postalCode" class="form-control"  [(ngModel)]="pharmacy.city.postalCode">
    </div>
    <div class="form-group mb-3">
      <label class="form-label">Country:</label>
      <input type="text" id="country" class="form-control"  [(ngModel)]="pharmacy.city.country.name">
    </div>
    <div class="form-group mb-3">
      <label class="form-label">Description:</label>
      <textarea type="text" class="form-control" id="description" [(ngModel)]="pharmacy.description" rows="5"></textarea>
    </div>
    <div class="form-group mb-5">
      <button (click)="UpdatePharmacy()" id="updateButton" class="btn btn-primary">
        <strong>Update</strong>
      </button>
    </div>

    <button class="btn btn-primary" (click)="open(mymodal)"><strong>Tender statistics</strong></button>
</div>
   
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Tender statistics</h4>
    <button type="button" class="close btn btn-primary" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <ngx-charts-bar-vertical
      [view]="[400,300]"
      [results]="chartData"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true">
      </ngx-charts-bar-vertical>
    </div>

  </div>
</ng-template>