<div class="m-5"></div>
<div class="card mx-auto" style="width: 100rem;" *ngIf='id'>
    <div class="card-header">
        <div>Tender ID:  {{tender.id}}</div>
        <div>Closing Date: {{tender.closedTime | date: "dd-MM-yyyy, hh:mm"}}</div>
        <div>Active: {{tender.active}}</div>
    </div>
    <div class="card-body">
      <h3 class="card-title text-center m-3">{{tender.name}}</h3>
      <ul class="list-group">
        <li class="list-group-item text-center m-3">{{tender.medicines}}</li>
      </ul>

      <div class="table-responsive m-3">
        <h5>Offers:</h5>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Pharmacy Name</th>
                    <th>Date</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    </div>
  </div>
