<div class="container">
    <mat-card class="bg-light">
        <mat-card-title>Personal informations</mat-card-title>
        <br>
        <div class="row">
            <br>
            <div class="col center">
                <ng-template [ngIf]="patient.gender == 0"><img class="profilePhoto" src="../../../assets/images/userMale.png"></ng-template>
                <ng-template [ngIf]="patient.gender == 1"><img class="profilePhoto" src="../../../assets/images/userFemale.png"></ng-template>
            </div>
            <div class="col">
                <p>First name</p>
                <p>Middle name</p>
                <p>Last name</p>
                <p>Birth date</p>
                <p>Gender</p>
                <p>Username</p>
                <p>Email address </p>
                <p>Phone number</p>
                <p>Address</p>
                <p>Job status</p>
                <p>Blood type</p>
                <p>Weight</p>
                <p>Height</p>
                <p>Chosen doctor</p>
            </div>
            <div class="col">
                <p>{{patient.firstName}}</p>
                <p>{{patient.middleName}}</p>
                <p>{{patient.lastName}}</p>
                <p>{{patient.dateOfBirth | date}}</p>
                <p *ngIf="patient.gender == 0; else content">Male</p>
                <ng-template #content><p>Female</p></ng-template>
                <p>{{patient.userName}}</p>
                <p>{{patient.email}}</p>   
                <p>{{patient.phoneNumber}}</p>
                <p>{{patient.street}} {{patient.streetNumber}},{{patient.city.name}}</p>
                <ng-template [ngIf]="patient.medicalRecord.jobStatus == 0"><p>Undefined</p></ng-template>
                <ng-template [ngIf]="patient.medicalRecord.jobStatus == 1"><p>Employed</p></ng-template>
                <ng-template [ngIf]="patient.medicalRecord.jobStatus == 2"><p>Unemployed</p></ng-template>
                <ng-template [ngIf]="patient.medicalRecord.jobStatus == 3"><p>Student</p></ng-template>
                <ng-template [ngIf]="patient.medicalRecord.jobStatus == 4"><p>Retired</p></ng-template>
                <ng-template [ngIf]="patient.medicalRecord.jobStatus == 5"><p>Child</p></ng-template>
                <ng-template [ngIf]="patient.medicalRecord.bloodType == 0"><p>Undefined</p></ng-template>
                <ng-template [ngIf]="patient.medicalRecord.bloodType == 1"><p>0 negative</p></ng-template>
                <ng-template [ngIf]="patient.medicalRecord.bloodType == 2"><p>0 positive</p></ng-template>
                <ng-template [ngIf]="patient.medicalRecord.bloodType == 3"><p>A negative</p></ng-template>
                <ng-template [ngIf]="patient.medicalRecord.bloodType == 4"><p>A positive</p></ng-template>
                <ng-template [ngIf]="patient.medicalRecord.bloodType == 5"><p>B negative</p></ng-template>
                <ng-template [ngIf]="patient.medicalRecord.bloodType == 6"><p>B positive</p></ng-template>
                <ng-template [ngIf]="patient.medicalRecord.bloodType == 7"><p>AB negative</p></ng-template>
                <ng-template [ngIf]="patient.medicalRecord.bloodType == 8"><p>AB positive</p></ng-template>
                <p>{{patient.medicalRecord.weight}}kg</p>
                <p>{{patient.medicalRecord.height}}cm</p>
                <p>dr {{patient.medicalRecord.doctor.firstName}} {{patient.medicalRecord.doctor.lastName}}</p>
            </div>
        </div>
    </mat-card>
    <br>
    <mat-card class="bg-light">
        <mat-card-title>Medical informations</mat-card-title>
       <mat-tab-group>
           <mat-tab label="Allergies">
            <mat-card class="bg-light col">
                <div class="row">
                    <div class="col">
                        <img src="../../../assets/images/allergies.png">
                    </div>
                    <div class="col">
                        <p *ngFor="let allergy of patient.medicalRecord.allergies">{{allergy.medicationIngredient.name}}</p>
                    </div>
                </div>
            </mat-card>

           </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>



