<div style="height: 100%">
    <div class="d-flex justify-content-center">
        <h6 class="text-muted subtitle" style="font-size: 15px;">
            Step 2: Choose <span *ngIf="type=='merge'">first</span> room and click next if you want to
            <b style="text-transform: uppercase; color: rgb(57, 149, 255)"><i>{{ type }}</i></b><span class="mr-2">
                room</span>
        </h6>
    </div>
    <div class="row ms-5 mt-5">
        <div class="col-12">
            <input class="searchInput form-control" type="text" placeholder="search..." [(ngModel)]="searchRoomName"
                (input)="searchRoomsByName()" />
        </div>
    </div>
    <div class="row mb-3 mt-2 d-flex justify-content-center">
        <div class="col-11">
            <div style="height: 270px; overflow: auto" id="table">
                <table class="table table-hover roomTable">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Room</th>
                            <th scope="col">Building</th>
                            <th scope="col">Type</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!isLoading">
                        <tr *ngFor="let room of rooms" (click)="selectRoom(room)"
                            [ngClass]="selectedRoom == room ? 'selected' : 'notSelected'">
                            <th scope="row"></th>
                            <td data-label="Room">
                                {{ room.name }}
                            </td>
                            <td data-label="Building">
                                {{ room.buildingName }}
                            </td>
                            <td data-label="Type">
                                {{room.roomType}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                    <mat-progress-spinner color="primary" mode="indeterminate">
                    </mat-progress-spinner>
                </mat-card>
            </div>
        </div>
    </div>
</div>