<div class="panel panel-primary m-3">
    <div class="panel-heading m-3">
        <h2>Medication Specification Request</h2>
    </div>
    <div class="mb-3">
        <div class="mb-3">
            <label for="name" class="form-label">Medicine Name</label>
            <input [(ngModel)]="medicineName" type="text" class="form-control" id="medicineName" required>
        </div>
        <label for="name" class="form-label">Pharmacy Name</label>
        <select id="pharmacy" [(ngModel)]="Pharmacy" class="form-select" aria-label="Default select example">
            <option *ngFor='let dataItem of PharmacyList' [ngValue]="dataItem"> {{dataItem.name}} </option>
        </select>
        <button class="btn btn-primary m-3" (click)="SendRequest()"><strong>Send request</strong></button>
    </div>
</div>