<div class="legend">
    <h4 class="mb-3" style="text-align: center;">Legend</h4>
    <svg width="20" height="20">
        <rect width="20" height="15" style=" fill: #90caf9" stroke-width="1" stroke="#222222" />
    </svg>
    <span class="ms-4">Hospital building 1</span>
    <br />
    <svg width="20" height="20">
        <rect width="20" height="15" style="fill: rgb(252, 207, 207)" stroke-width="1" stroke="#222222" />
    </svg>
    <span class="ms-4">Hospital building 2</span>
    <br />
    <svg width="20" height="20">
        <rect width="20" height="15" style="fill: #e98a8a" stroke-width="1" stroke="#222222" />
    </svg>
    <span class="ms-4">Parking</span>
    <br />
    <svg width="20" height="20">
        <rect width="20" height="15" style="fill: #faf3dd" stroke-width="1" stroke="#222222" />
    </svg>
    <span class="ms-4">Staff Parking</span>
</div>