<div>
    <div class="p-3 mb-2 bg-gradient-light bg-info text-white">
        <h2 class="fw-bold text-center mt-5">Patient Satisfaction Survey</h2>
    </div>

    <app-survey [section]='survey.doctorSection'></app-survey>
    <app-survey [section]='survey.medicalStaffSection'></app-survey>
    <app-survey [section]='survey.hospitalSection'></app-survey>
    <div class="row d-flex flex-row-reverse mt-5">
        <div class="col-sm-4 ">
            <button type="button" class="btn btn-info w-50 btn-lg">Submit</button>
        </div>
    </div>