<div class="d-flex justify-content-center">
  <h6 class="text-muted subtitle">Step 4: Choose time of a move</h6>
</div>
<div class="row mt-5 mb-3 d-flex justify-content-center" style="height: 350px">
  <div class="col-5">
    <div style="height: 300px; overflow: auto">
      <table class="table table-hover equipmentTable">
        <thead>
          <tr>
            <!-- <th scope="col"></th> -->
            <th scope="col">Free terms</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <th scope="row"></th> -->
            <td>22.1.2021.</td>
          </tr>
          <tr>
            <!-- <th scope="row"></th> -->
            <td>22.1.2021.</td>
          </tr>
          <tr>
            <!-- <th scope="row"></th> -->
            <td>22.1.2021.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
