<div class="d-flex justify-content-center">
  <h6 class="text-muted subtitle">Step 4: Choose time of a move</h6>
</div>
<div class="row mt-5 mb-3 d-flex justify-content-center" style="height: 350px">
  <div class="col-5">
    <div style="height: 300px; overflow: auto">
      <table class="table table-hover equipmentTable">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Start date and time</th>
            <th></th>
            <th scope="col">End date and time</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let term of freeTerms"
            (click)="selectTerm(term)"
            [ngClass]="selectedTermView == term ? 'selected' : 'notSelected'"
          >
            <th scope="row"></th>
            <td>{{ term.startDate | date: "dd.MM.yyyy HH:mm" }}</td>
            <td>-</td>
            <td>{{ term.endDate | date: "dd.MM.yyyy HH:mm" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
