<svg height="500" width="900" style="border:1px solid rgb(14, 13, 13); margin-left:auto; margin-right:auto; display:block;">
  <g *ngFor="let r of service.roomPositions">
      <rect (click)="selectRoom(r.room)" [ngStyle]="roomForDisplay==r.room.name?{'fill':selectedRoomColor} : {'fill': roomColor}" attr.x = {{r.dimensionX}} attr.y = {{r.dimensionY}} attr.width={{r.width}} attr.height={{r.height}} attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}} />
      <text [attr.x] = "calculateX(r)" [attr.y] = "calculateY(r)" text-anchor="middle" fill="black" font-size="16" >{{r.room.name}}</text>   
  </g>

  <rect x="0" y="173" width="100" height="75"  attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
  <text  x="50" y="210.5" text-anchor="middle">WC</text>
  <rect x="0" y="252" width="100" height="75"  attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
  <text  x="50" y="289.5" text-anchor="middle">WC</text>

   <!-- WAITING ROOMS -->
   <rect  x="177" y="170" width="200" height="160" attr.fill={{roomColor}}/>
   <rect x="623" y="170" width="200" height="160"  attr.fill={{roomColor}}/>
</svg>

