<div class="m-5"></div>
<div class="card mx-auto" style="width: 100rem;" *ngIf='id'>
    <div class="card-header">
        <div>Complaint ID:  {{complaint.id}}</div>
        <div>Date: {{complaint.createdDate | date: "dd-MM-yyyy, hh:mm"}}</div>
        <div>Author: {{complaint.manager.name}} {{complaint.manager.surname}}</div>
        <div>Pharmacy: {{complaint.pharmacy.name}}</div>
    </div>
    <div class="card-body">
      <h3 class="card-title text-center m-3">{{complaint.title}}</h3>
      <p class="card-text text-center ">{{complaint.description}}</p>

      <div class="card" *ngIf="complaint.hasOwnProperty('complaintResponse')">
        <div class="card-header">
            <div>Response ID:  {{complaint.complaintResponse.id}}</div>
            <div>Date: {{complaint.complaintResponse.createdDate | date: "dd-MM-yyyy, hh:mm"}}</div>
        </div>
        <div class="card-body">
          <p class="card-text text-center ">{{complaint.complaintResponse.text}}</p>
        </div>
      </div>
    </div>
  </div>
