<div class="panel panel-primary">
    <div class="panel-heading m-3">
        <h2>Complaints List</h2>
    </div>
    <button class="btn btn-primary m-3" [routerLink]="[isProd? '/integration/complaint-add' : '/complaint-add']">Add complaint</button>
    <div class="form-control form-control-lg">
        <input [(ngModel)]="SearchString"  (keyup)="FilterFn()" placeholder="Filter" > 
    </div>
    <div class="form-check">
        <div>
            <input type="radio" id="complaintAnswerAll" [(ngModel)]="isAnswered" (change)="FilterFn()" value="All" checked="true" />
            <label class="form-check-label" for="complaintAnswerAll">
                All
            </label>
        </div>

        <div>
            <input type="radio" id="complaintAnswerYes" [(ngModel)]="isAnswered" (change)="FilterFn()" value="Answered" />    
            <label class="form-check-label" for="complaintAnswerYes">
                Answered
            </label>  
        </div>

        <div>
            <input type="radio" name="complaintAnswerNo" [(ngModel)]="isAnswered" (change)="FilterFn()" value="Not answered" />
            <label class="form-check-label" for="exampleRadios1">
                Not answered
            </label>
        </div>

    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Pharmacy</th>
                    <th>Manager</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let complaint of complaints' [routerLink]="[isProd? '/integration/complaints/' + complaint.id : '/complaints/' +complaint.id]">
                    <td>{{complaint.id}}</td>
                    <td>{{complaint.title}}</td>
                    <td>{{complaint.createdDate | date: 'dd-MM-yyyy, hh:mm'}}</td>
                    <td>{{complaint.pharmacy.name}}</td>
                    <td>{{complaint.manager.name}} {{complaint.manager.surname}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>