<div  class="container " >
    <h2 class="text-center mb-lg-2 mb-2 " >{{errorText}}</h2>
    <h2 class="text-center mb-lg-2 mb-2 " >Survey</h2>
    <div class="container"
        style="border-radius: 5rem; background-color: rgb(182, 209, 226);margin-top: 4rem;margin-bottom: 3rem;">
        <mat-tab-group (selectedTabChange)="tabSelected($event)">
            <mat-tab label="HospitalSurvey" >
                <app-survey-section-observe  [section]='selectedSection'></app-survey-section-observe>
            </mat-tab>
            <mat-tab label="Doctor">
                <app-survey-section-observe  [section]='selectedSection'></app-survey-section-observe>
            </mat-tab>
            <mat-tab label="MedicalStaff">
                <app-survey-section-observe  [section]='selectedSection'></app-survey-section-observe>
            </mat-tab>
        </mat-tab-group>

    </div>
</div>
