<svg height="500" width="900" style="border:1px solid rgb(14, 13, 13); margin-left:auto; margin-right:auto; display:block;">
  <g *ngFor="let r of service.roomPositions">
      <rect (click)="selectRoom(r.room)" [ngStyle]="roomForDisplay==r.room.name?{'fill':selectedRoomColor} : {'fill': roomColor}" attr.x = {{r.dimensionX}} attr.y = {{r.dimensionY}} attr.width={{r.width}} attr.height={{r.height}} attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}} />
      <text [attr.x] = "calculateX(r)" [attr.y] = "calculateY(r)" text-anchor="middle" fill="black" font-size="16" >{{r.room.name}}</text>   
  </g>
  
  <rect  x="810" y="172" width="90" height="76"  attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
  <text  x="855" y="210" text-anchor="middle">WC</text>
  <rect  x="810" y="252" width="90" height="76" attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
  <text  x="855" y="290" text-anchor="middle">WC</text>

   <!-- WAITING ROOM -->
  <rect x="190" y="185" width="490" height="130" points="190,185 680,185 680,315, 190,315" attr.fill={{roomColor}}/>

  <!-- MAIN DOOR -->
  <rect  x="0" y="215" width="6" height="70"  attr.fill={{doorColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
</svg>




