<div class="panel panel-primary">
    <div class="panel-heading m-3">
        <h2>Pharmacy List</h2>
    </div>
    <button class="btn btn-primary m-3" [routerLink]="[isProd? '/integration/pharmacy-register' : '/pharmacy-register']">Register pharmacy</button>
    <div class="form-control form-control-lg">
        <input [(ngModel)]="SearchString"  (keyup)="FilterFn()" placeholder="Filter" > 
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Base URL</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let pharmacy of pharmacies'>
                    <td>{{pharmacy.id}}</td>
                    <td>{{pharmacy.name}}</td>
                    <td>{{pharmacy.streetName}} {{pharmacy.streetNumber}}, {{pharmacy.city.name}}</td>
                    <td>{{pharmacy.baseUrl}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>