<svg height="610" width="540" style="border:1px solid rgb(14, 13, 13); margin-left:auto; margin-right:auto; display:block;">
    <g *ngFor="let r of service.roomPositions">
        <rect (click)="selectRoom(r.room)" [ngStyle]="roomForDisplay==r.room.name?{'fill':selectedRoomColor} : {'fill': roomColor}" attr.x = {{r.dimensionX}} attr.y = {{r.dimensionY}} attr.width={{r.width}} attr.height={{r.height}} attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}} />
        <text [attr.x] = "calculateX(r)" [attr.y] = "calculateY(r)" text-anchor="middle" fill="black" font-size="16" >{{r.room.name}}</text>   
    </g>
    
    <rect x="210" y="530" height="80" width="60"   attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
    <text  x="240" y="570" text-anchor="middle">WC</text>  
    <rect x="270" y="530" height="80" width="60"    attr.fill={{roomColor}} attr.stroke={{borderColor}} attr.strokeWidth={{borderWidth}}/>
    <text  x="300" y="570" text-anchor="middle">WC</text>
    
     <!-- WAITING ROOMS -->
     <rect x="190" y="60" height="175" width="160"  attr.fill={{roomColor}}/>>
     <rect x="190" y="295" height="175" width="160"  attr.fill={{roomColor}}/>> 
</svg>





