<div class="row mt-1 d-flex justify-content-center" style="height: 100%">
    <div class="d-flex justify-content-center">
        <h6 class="text-muted subtitle">Step 1: Choose renovation type</h6>
    </div>
    <div style="height: 280px; ">
        <div class="d-flex justify-content-center" style="margin-top: 4rem">
            <div class="form-check form-check-inline mr-5">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
                    (change)="choseRenovationType('merge')" [checked]="renovationType == 'merge'"
                    style="width: 20px; height: 20px;">
                <label class="form-check-label" for="inlineRadio1" style="font-size: 18px;">Merge</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"
                    (change)="choseRenovationType('split')" [checked]="renovationType == 'split'"
                    style="width: 20px; height: 20px;">
                <label class="form-check-label" for="inlineRadio2" style="font-size: 18px;">Split</label>
            </div>

        </div>
    </div>
</div>