.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  font-size: larger;
}

.navbar-inner {
  background: transparent;
}

.navbar-brand {
  font-size: larger;
  font-weight: bold;
}
