<div class="container">
    <mat-card class="frame">
        <h6>Recommended appointment</h6>
        <div class="col">
        <div class="row">
        <mat-form-field appearance="fill" class="my">
            <mat-label>Choose a start date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        </div>
        <div class="row">
        <mat-form-field appearance="fill" class="my">
            <mat-label>Choose an end date</mat-label>
            <input matInput [matDatepicker]="endDatePicker">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
        </div>
        <div class="row">
                <mat-form-field appearance="fill">
                <mat-label>Start time</mat-label>
                <mat-select>
                   <mat-option *ngFor="let time of times" [value]="time">
                    {{time}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
            <mat-label>End time</mat-label>
            <mat-select>
                <mat-option *ngFor="let time of times" [value]="time">
                {{time}}
                </mat-option>
            </mat-select>
            </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
        <mat-label>Choose doctor</mat-label>
        <mat-select>
            <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">
            dr {{doctor.firstName}} {{doctor.lastName}} - {{doctor.specialization.name}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </div>
    <div class="col">
        <div class="row">
            <mat-radio-group aria-label="Select priority">
                <mat-radio-button value="1">Doctor</mat-radio-button>
                <mat-radio-button value="2">Date</mat-radio-button>
              </mat-radio-group>
        </div>
    </div>
    <div class="row">
    <button mat-button color="primary" >Find available</button>
    </div>
    </div>
    </mat-card>
    </div>
    
